.timer-swiper{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: white;
    z-index: 2;
}
.timer-swiperAfter{
    background: #007aff;
    height: 100%;
    width: 0;
    height: 10px;
    display: block;
}
.timer-swiperAfter.active{
    width: 100%;
    transition: 5s all;
}